body{
	margin: 0;
	padding: 0;
	background-color: #f7f7f7;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

#offerbar{
	width: 100%;
	background-color: #333;
	color: #c3c3c3;
	text-align: center;
}

#offerbar h3{
	margin: 0;
	padding: 8px;
}

#offerbar span{
	color: red;
}

#offerbar h3, #offerbar span{
	display: inline-block;
}

.socialRight{
	position: fixed;
	top: 170px;
	left: 0;
}

.socialRight img{
	width: 50px;
	height: 50px;
	margin: 0;
	display: block;
}

.socialRight img:hover{
	width: 65px;
}

.container{
	max-width: 1180px;
	padding: 0 10px;
	margin: 0 auto;
}

/* Header Styles */

.responsive{
	display: none;
}

#nav{
	border: 1px solid #ddd;
	height: 50px;
	margin: 20px 0;
}

#nav ul{
	padding: 0;
}

#nav li{
	list-style-type: none;
	float: left;
	margin-top: -14px;
	font-size: 16px;
	font-weight: bold;
	color: #777;
	padding: 15px 20px;	
}

#nav li:first-child{
	margin-left: 0;
}

#nav li:hover{
	background-color: #e50000;
	color: white;
	cursor: pointer;
}

.navRight{
	float: right;
	position: relative;
	margin-top: -6px;
}

.navRight input{
	line-height: 20px;
	font-size: 16px;
	padding: 5px 5px 5px 15px;
	width: 200px;
	border-radius: 2px;
}

.logo{
	position: absolute;
	top: 48px;
	left: 35%;
	z-index: 1;
}

.search{
	position: absolute;
	top: 10px;
	right: 78px;
}

.cart{
	background-color: white;
	border: 1px solid #ddd;
	padding: 10px;
	margin: 0 15px 0 10px;
}

.cart:hover{
	background-color: #c3c3c3;
}

.dropdown li{
    position: relative;
    display: inline;
}

.dropdown ul{
	position: absolute; 
	left: 0; 
	top: 100%; 
	display: none; 
	background-color: white !important;
    z-index: 2;
}

.spacing{
	padding: 15px !important;	
}

.spacing li{
	padding: 0 !important;
	margin: 0 !important;
	width: 100%;
	min-width: 220px;
	font-weight: normal !important;
	line-height: 22px;
}

.spacing li:nth-child(11), .spacing li:nth-child(13){
	margin-bottom: 8px !important;
}

.spacing a{
	text-decoration: none;
	color: black !important;
}

.dropdown li:hover ul{
    display: block;
}

.spacing li, a:hover{
	color: red !important;
	background-color: white !important;
}

hr{
	margin: 28px 0 10px;
	border-top: solid 1px #eee;
}

.responsive{
	display: inline-block;
	height: 100px;
	margin: 8px 14px;
}

.responsiveNav{
	height: 100%;
	width: 40%;
	background-color: #f7f7f7;
	position: absolute;
	left: -40%;

}

#splitScreen{
	height: 100%;
	width: 100%;
	position: relative;
}

.overlay{
    opacity: .5;
    background-color: gray;
    height: 100%;
}

.page{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: absolute;
	right: -40%;
}

.responsiveNavUl{
	color: red;
	text-align: center !important;
}

.responsiveNavLayout{
	display: none;
	width: 94%;
	padding: 0 10px;

}

.responsiveNavLayout li{
	list-style-type: none;
	font-size: 18px;
    font-weight: normal;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    background: #fff;
    text-align: left;

}

.responsiveNavLayout li li{
	border: none;
}

.responsiveNavLayout hr{
	margin: 10px 0;
}